@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Prata&display=swap');

$pink: #d3b4ad;
$blue: #403f6f;
$white: #fafafa;

$limit: 1366px;

@mixin flex($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin font($weight){
    font-weight: $weight;
    font-family: 'Montserrat', sans-serif;
}

@mixin font2($weight){
    font-weight: $weight;
    font-family: 'Prata', serif;
}

::-moz-selection {
    color: $white;
    background: $pink;
}
  
::selection {
    color: $white;
    background: $pink;
}

*, *:after, *::before {
    box-sizing: border-box;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
    text-decoration: none;
}

img {
    display: block;
    pointer-events: none;
}

body {
    background-color: $white;
    @include font(400);
    color: #686868;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 18px;
}

.bg-wrapper {
    overflow: hidden;
    position: relative;
    @include flex(center, center);
    height: 795px;
    width: 100%;
    
    .bg {
        height: 830px;
        width: 105%;
        background-image: url(../img/header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
    }

    @media screen and (max-width: 1000px) {
        height: 250px;

        .bg {
            height: 100%;
            width: 100%;
        }
    }
}


.hero {
    width: 100%;
    max-width: $limit;
    height: 170px;
    margin: 0 auto;
    transform: translateY(-85px);
    transition: all ease .3s;
    @include flex(center, space-between);
    background-color: $white;

    .names {
        width: 100%;
        max-width: 515px;
        height: 100%;
        background-color: $pink;
        color: #FFF;
        font-size: 46px;
        @include font2(400);
        @include flex(center, center);
        transition: all ease .3s;
    }

    .buttons {
        width: 100%;
        height: 100%;
        @include flex(center, space-between);

        .button {
            width: 50%;
            height: 100%;
            @include flex(center, center);
            color: $pink;
            font-size: 18px;
            text-transform: uppercase;
            @include font(500);
            letter-spacing: .5px;
            line-height: 1.3em;
            position: relative;
            transition: all ease .3s;

            svg {
                width: 70px;
                fill: $pink;
                margin-right: 35px;
            }

            &.button-gift {
                &:after {
                    content: '';
                    width: 1px;
                    height: 60%;
                    background-color: #e6e6e6;
                    position: absolute;
                    right: 0;
                    transition: all ease .3s;
                }
            }

            &.button-rsvp {
            }

            &:hover {
                background-color: #FFF;
                box-shadow: 0px 0px 62px 0px rgba(211, 180, 173, 0.19);
            }
        }

        &:hover {
            .button:after {
                background-color: transparent;
            }
        }
    }

    @media screen and (max-width: 1200px) {
        height: 120px;

        .names {
            font-size: 36px;
            max-width: 415px;
        }

        .buttons {
            .button {
                svg {
                    width: 50px;
                    margin-right: 25px;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        transform: translateY(0);
        flex-direction: column;
        height: auto;

        .names {
            max-width: 100%;
            font-size: 26px;
            padding: 30px 0;
        }

        .buttons {
            border-bottom: 1px solid #e6e6e6;
            
            .button {
                padding: 20px;
                font-size: 14px;
                flex-direction: column;
                text-align: center;

                svg {
                    width: 40px;
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/* countdown */
#countdown {
    width: 100%;
    margin: 0 auto 190px;
    text-align: center;
    @include font2(400);
    font-size: 104px;
    position: relative;
    opacity: 0;
    transform: translateY(-100px);

    &:after {
        content: '#CasamentoAnnyeBiel';
        color: #f5f5f5;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        font-size: 78px;
        bottom: -65px;
    }

    .title {
        max-width: 360px;
        width: 100%;
        font-size: 26px;
        color: $blue;
        text-transform: uppercase;
        margin: 50px auto 80px;
        position: relative;

        &:before,
        &:after {
            content: '';
            height: 1px;
            width: 80px;
            background-color: $pink;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }


    }

    .position {
        display: inline-block;
        height: 104px;
        overflow: hidden;
        position: relative;
        width: 75px;
        line-height: 1.2em;
    }

    .countDiv {
        display: inline-block;
        width: 50px;
        position: relative;
    }
    
    .digit {
        position: absolute;
        display: block;
        width: 75px;
        text-align: center;
        color: $blue;
    }

    .countDays,
    .countHours,
    .countMinutes,
    .countSeconds {
        display: inline-flex;
        position: relative;
    }

    .countTitle {
        font-size: 16px;
        @include font(500);
        color: $pink;
        position: absolute;
        bottom: -45px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .countDays:after {
        content: 'Dias';
        @extend .countTitle;
    }
    
    .countHours:after {
        content: 'Horas';
        @extend .countTitle;
    }
    
    .countMinutes:after {
        content: 'Minutos';
        @extend .countTitle;
    }
    
    .countSeconds:after {
        content: 'Segundos';
        @extend .countTitle;
    }
}

.title {
    font-size: 48px;
    @include font2(400);
    color: $blue;
    line-height: 1.2em;
    margin-bottom: 25px;
}

.subtitle {
    font-size: 24px;
    @include font2(400);
    line-height: 1.2em;
    font-style: italic;
    letter-spacing: .3px;
}

#party {
    opacity: 0;
    width: $limit;
    margin: 0 auto;
    @include flex(flex-start, space-between);
    padding-bottom: 1000px;

    .title {
        margin-top: 40px;
    }

    .subtitle {
        margin-bottom: 70px;
    }

    p {
        line-height: 1.8em;
        font-size: 16px;
        margin-bottom: 35px;
        letter-spacing: .3px;
    }
    
    .right {
        @include flex(flex-start, space-between);

        .col-1 {
            margin-right: -150px;
            margin-top: 188px;

            .box-1 {
                width: 226px;
                height: 226px;
                background-color: #ededed;
                text-transform: uppercase;
                color: $blue;
                @include font2(400);
                text-align: center;
                letter-spacing: .5px;
                @include flex(center, center);
                flex-direction: column;
                position: relative;
                transform: translateX(-80px);
                opacity: 0;

                .day {
                    font-size: 18px;
                    
                    &::after {
                        content: '';
                        width: 110%;
                        height: 1px;
                        background-color: #d0d0d8;
                        display: block;
                        left: 50%;
                        transform: translateX(-50%);
                        position: relative;
                        margin: 20px 0 25px;
                    }
                }

                .hour {
                    font-size: 30px;
                }
            }

            .box-2 {
                margin-top: 18px;
                transform: translateY(80px);
                opacity: 0;
            }
        }

        .col-2 {
            @include flex(flex-end, flex-start);
            flex-direction: column;

            .box-1 {
                transform: translateY(-80px);
                opacity: 0;
            }
            
            .box-2 {
                display: grid;
                column-gap: 18px;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                max-width: 511px;
                margin-top: 18px;
                transform: translateX(80px);
                opacity: 0;

                a {
                    @include flex(center, center);
                    @include font(500);
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    width: 100%;
                    padding: 28px 10px;

                    span {
                        position: relative;
                        z-index: 1;
                    }

                    &.btn-primary {
                        border: 2px solid $pink;
                        color: $white;
                        transition: all ease .3s;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $pink;
                            z-index: 0;
                            transition: all ease .3s;
                            transform-origin: right;
                        }
                    }

                    &.btn-secondary {
                        border: 2px solid $pink;
                        color: $pink;
                        transition: all ease .3s;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $pink;
                            z-index: 0;
                            transition: all ease .3s;
                            transform-origin: left;
                            transform: scaleX(0);
                        }
                    }
                }

                &.animation {
                    .btn-primary {
                        color: $pink;

                        &::before {
                            transform: scaleX(0);
                        }

                        & + .btn-secondary {
                            color: $white;

                            &::before {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
    }
}