/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Prata&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  color: #fafafa;
  background: #d3b4ad;
}

::selection {
  color: #fafafa;
  background: #d3b4ad;
}

*, *:after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  background-color: #fafafa;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #686868;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 18px;
}

.bg-wrapper {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 795px;
  width: 100%;
}

.bg-wrapper .bg {
  height: 830px;
  width: 105%;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}

@media screen and (max-width: 1000px) {
  .bg-wrapper {
    height: 250px;
  }
  .bg-wrapper .bg {
    height: 100%;
    width: 100%;
  }
}

.hero {
  width: 100%;
  max-width: 1366px;
  height: 170px;
  margin: 0 auto;
  -webkit-transform: translateY(-85px);
          transform: translateY(-85px);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fafafa;
}

.hero .names {
  width: 100%;
  max-width: 515px;
  height: 100%;
  background-color: #d3b4ad;
  color: #FFF;
  font-size: 46px;
  font-weight: 400;
  font-family: 'Prata', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.hero .buttons {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .buttons .button {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d3b4ad;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .5px;
  line-height: 1.3em;
  position: relative;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.hero .buttons .button svg {
  width: 70px;
  fill: #d3b4ad;
  margin-right: 35px;
}

.hero .buttons .button.button-gift:after {
  content: '';
  width: 1px;
  height: 60%;
  background-color: #e6e6e6;
  position: absolute;
  right: 0;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.hero .buttons .button:hover {
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 62px 0px rgba(211, 180, 173, 0.19);
          box-shadow: 0px 0px 62px 0px rgba(211, 180, 173, 0.19);
}

.hero .buttons:hover .button:after {
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  .hero {
    height: 120px;
  }
  .hero .names {
    font-size: 36px;
    max-width: 415px;
  }
  .hero .buttons .button svg {
    width: 50px;
    margin-right: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .hero .names {
    max-width: 100%;
    font-size: 26px;
    padding: 30px 0;
  }
  .hero .buttons {
    border-bottom: 1px solid #e6e6e6;
  }
  .hero .buttons .button {
    padding: 20px;
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .hero .buttons .button svg {
    width: 40px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* countdown */
#countdown {
  width: 100%;
  margin: 0 auto 180px;
  text-align: center;
  font-weight: 400;
  font-family: 'Prata', serif;
  font-size: 104px;
  position: relative;
}

#countdown:after {
  content: '#CasamentoAnnyeBiel';
  color: #f5f5f5;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  font-size: 78px;
  bottom: -65px;
}

#countdown .title {
  max-width: 360px;
  width: 100%;
  font-size: 26px;
  color: #403f6f;
  text-transform: uppercase;
  margin: 50px auto 80px;
  position: relative;
}

#countdown .title:before, #countdown .title:after {
  content: '';
  height: 1px;
  width: 80px;
  background-color: #d3b4ad;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#countdown .title:before {
  left: 0;
}

#countdown .title:after {
  right: 0;
}

#countdown .position {
  display: inline-block;
  height: 104px;
  overflow: hidden;
  position: relative;
  width: 75px;
  line-height: 1.2em;
}

#countdown .countDiv {
  display: inline-block;
  width: 50px;
  position: relative;
}

#countdown .digit {
  position: absolute;
  display: block;
  width: 75px;
  text-align: center;
  color: #403f6f;
}

#countdown .countDays,
#countdown .countHours,
#countdown .countMinutes,
#countdown .countSeconds {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

#countdown .countTitle, #countdown .countDays:after, #countdown .countHours:after, #countdown .countMinutes:after, #countdown .countSeconds:after {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #d3b4ad;
  position: absolute;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

#countdown .countDays:after {
  content: 'Dias';
}

#countdown .countHours:after {
  content: 'Horas';
}

#countdown .countMinutes:after {
  content: 'Minutos';
}

#countdown .countSeconds:after {
  content: 'Segundos';
}

.title {
  font-size: 48px;
  font-weight: 400;
  font-family: 'Prata', serif;
  color: #403f6f;
  line-height: 1.2em;
  margin-bottom: 25px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Prata', serif;
  line-height: 1.2em;
  font-style: italic;
  letter-spacing: .3px;
}

#party {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#party .title {
  margin-top: 40px;
}

#party .subtitle {
  margin-bottom: 70px;
}

#party p {
  line-height: 1.8em;
  font-size: 16px;
  margin-bottom: 35px;
  letter-spacing: .3px;
}

#party .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#party .right .col1 {
  margin-right: -150px;
  margin-top: 188px;
}

#party .right .col1 .box-2 {
  margin-top: 18px;
}

#party .right .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#party .right .col2 .box-2 {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 18px;
          column-gap: 18px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 511px;
  margin-top: 18px;
}

#party .right .col2 .box-2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .5px;
  width: 100%;
  padding: 28px 10px;
}

#party .right .col2 .box-2 a.btn-primary {
  background-color: #d3b4ad;
  color: #fafafa;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  position: relative;
}

#party .right .col2 .box-2 a.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 2px solid #d3b4ad;
  border-top: 2px solid #d3b4ad;
}

#party .right .col2 .box-2 a.btn-primary::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 2px solid #d3b4ad;
  border-bottom: 2px solid #d3b4ad;
}

#party .right .col2 .box-2 a.btn-primary::before, #party .right .col2 .box-2 a.btn-primary::after {
  width: 0%;
  height: 0%;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

#party .right .col2 .box-2 a.btn-primary:hover {
  background-color: transparent;
  color: #d3b4ad;
}

#party .right .col2 .box-2 a.btn-primary:hover::before, #party .right .col2 .box-2 a.btn-primary:hover::after {
  width: 100%;
  height: 100%;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

#party .right .col2 .box-2 a.btn-secondary {
  border: 2px solid #d3b4ad;
  color: #d3b4ad;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

#party .right .col2 .box-2 a.btn-secondary:hover {
  background-color: #d3b4ad;
  color: #fafafa;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
/*# sourceMappingURL=main.css.map */