@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Prata&display=swap');

$pink: #dfb5ae;
$blue: #3d3d71;
$white: #fafafa;
$space: 18px;

:root {
    --limit: 1366px;
}

@mixin flex($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin font($weight){
    font-weight: $weight;
    font-family: 'Montserrat', sans-serif;
}

@mixin font2($weight){
    font-weight: $weight;
    font-family: 'Prata', serif;
}

::-moz-selection {
    color: $white;
    background: $pink;
}
  
::selection {
    color: $white;
    background: $pink;
}

*, *:after, *::before {
    box-sizing: border-box;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
    text-decoration: none;
}

img {
    display: block;
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $white;
    @include font(400);
    color: #686868;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: $space;
    overflow-x: hidden;
}

.title {
    font-size: 48px;
    @include font2(400);
    color: $blue;
    line-height: 1.2em;
    margin-bottom: 25px;
}

.subtitle {
    font-size: 24px;
    @include font2(400);
    line-height: 1.5em;
    font-style: italic;
    letter-spacing: .3px;
}

@media screen and (max-width: 1470px) {
    :root {
        --limit: 1272px;
    }

    .title {
        font-size: 46px;
    }

    .subtitle {
        font-size: 22px;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --limit: 420px;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 16px;
    }
}

.bg-wrapper {
    overflow: hidden;
    position: relative;
    @include flex(center, center);
    height: 795px;
    width: 100%;
    
    .bg {
        height: 830px;
        width: 105%;
        background-image: url(../img/header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
    }


    @media screen and (max-width: 1470px) {
        height: 620px;

        .bg {
            height: 635px;
        }
    }

    @media screen and (max-width: 1000px) {
        height: 250px;

        .bg {
            height: 100%;
            width: 100%;
        }
    }
}


.hero {
    width: 100%;
    max-width: var(--limit);
    height: 170px;
    margin: 0 auto;
    transform: translateY(-85px);
    transition: all ease .3s;
    @include flex(center, space-between);
    background-color: $white;

    .names {
        width: 100%;
        max-width: 515px;
        height: 100%;
        background-color: $pink;
        color: #FFF;
        font-size: 46px;
        @include font2(400);
        @include flex(center, center);
        transition: all ease .3s;
    }

    .buttons {
        width: 100%;
        height: 100%;
        @include flex(center, space-between);

        .button {
            width: 50%;
            height: 100%;
            @include flex(center, center);
            color: $pink;
            font-size: 18px;
            text-transform: uppercase;
            @include font(500);
            letter-spacing: .5px;
            line-height: 1.3em;
            position: relative;
            transition: all ease .3s;

            svg {
                width: 70px;
                fill: $pink;
                margin-right: 35px;
            }

            &.button-gift {
                &:after {
                    content: '';
                    width: 1px;
                    height: 60%;
                    background-color: #e6e6e6;
                    position: absolute;
                    right: 0;
                    transition: all ease .3s;
                }
            }

            &.button-rsvp {
            }

            &:hover {
                background-color: #FFF;
                box-shadow: 0px 0px 62px 0px rgba(211, 180, 173, 0.19);
            }
        }

        &:hover {
            .button:after {
                background-color: transparent;
            }
        }
    }

    @media screen and (max-width: 1200px) {
        height: 120px;

        .names {
            font-size: 36px;
            max-width: 415px;
        }

        .buttons {
            .button {
                svg {
                    width: 50px;
                    margin-right: 25px;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        transform: translateY(0);
        flex-direction: column;
        height: auto;
        max-width: 100%;

        .names {
            max-width: 100%;
            font-size: 26px;
            padding: 30px 0;
        }

        .buttons {
            max-width: var(--limit);

            .button {
                padding: 20px;
                font-size: 14px;
                flex-direction: column;
                text-align: center;

                svg {
                    width: 40px;
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/* countdown */
#countdown {
    width: 100%;
    margin: 0 auto 190px;
    text-align: center;
    @include font2(400);
    font-size: 104px;
    position: relative;
    opacity: 0;
    transform: translateY(-100px);

    &:after {
        content: '#CasamentoAnnyeBiel';
        color: #f5f5f5;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        font-size: 78px;
        bottom: -65px;
    }

    .title {
        max-width: 360px;
        width: 100%;
        font-size: 26px;
        color: $blue;
        text-transform: uppercase;
        margin: 50px auto 80px;
        position: relative;

        &:before,
        &:after {
            content: '';
            height: 1px;
            width: 80px;
            background-color: $pink;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }


    }

    .position {
        display: inline-block;
        height: 104px;
        overflow: hidden;
        position: relative;
        width: 75px;
        line-height: 1.2em;
    }

    .countDiv {
        display: inline-block;
        width: 50px;
        position: relative;
    }
    
    .digit {
        position: absolute;
        display: block;
        width: 75px;
        text-align: center;
        color: $blue;
    }

    .countDays,
    .countHours,
    .countMinutes,
    .countSeconds {
        display: inline-flex;
        position: relative;
        transform: translateY(-50px);
        opacity: 0;
    }

    .countTitle {
        font-size: 16px;
        @include font(500);
        color: $pink;
        position: absolute;
        bottom: -45px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .countDays:after {
        content: 'Dias';
        @extend .countTitle;
    }
    
    .countHours:after {
        content: 'Horas';
        @extend .countTitle;
    }
    
    .countMinutes:after {
        content: 'Minutos';
        @extend .countTitle;
    }
    
    .countSeconds:after {
        content: 'Segundos';
        @extend .countTitle;
    }

    @media screen and (max-width: 1000px) {
        opacity: 1;
        transform: translateY(0);
        margin-bottom: 120px;
        
        .title {
            font-size: 16px;
            max-width: 100%;
            letter-spacing: 1px;
            margin: 20px auto 0;

            &::before,
            &::after {
                background-color: #e6e6e6;
                width: calc(50% - 80px);
            }
        }

        .countDays,
        .countHours,
        .countMinutes,
        .countSeconds {
            transform: translateY(0px);
            opacity: 1;

            &::after {
                font-size: 10px;
                bottom: -30px;
            }
        }

        .digit {
            font-size: 36px;
            width: 30px;
        }

        .position {
            width: 30px;
            height: 45px;
            line-height: 0.5em;
        }

        .countDiv {
            width: 30px;
        }

        &::after {
            font-size: 24px;
            letter-spacing: 1px;
            color: #e6e6e6;
            bottom: -80px;
        }
    }
}

#party {
    opacity: 0;
    width: var(--limit);
    margin: 0 auto;
    @include flex(flex-start, space-between);

    .title {
        margin-top: 40px;
    }

    .subtitle {
        margin-bottom: 70px;
    }

    p {
        line-height: 1.8em;
        font-size: 16px;
        margin-bottom: 35px;
        letter-spacing: .3px;
    }

    .left {
        transform: translateX(-100px);
    }
    
    .right {
        @include flex(flex-start, space-between);

        .col-1 {
            margin-right: -150px;
            margin-top: 188px;

            .box-1 {
                width: 226px;
                height: 226px;
                background-color: #ededed;
                text-transform: uppercase;
                color: $blue;
                @include font2(400);
                text-align: center;
                letter-spacing: .5px;
                @include flex(center, center);
                flex-direction: column;
                position: relative;
                transform: translateX(-80px);
                opacity: 0;

                .day {
                    font-size: 18px;
                    
                    &::after {
                        content: '';
                        width: 110%;
                        height: 1px;
                        background-color: #d0d0d8;
                        display: block;
                        left: 50%;
                        transform: translateX(-50%);
                        position: relative;
                        margin: 20px 0 25px;
                    }
                }

                .hour {
                    font-size: 30px;
                }
            }

            .box-2 {
                margin-top: $space;
                transform: translateY(80px);
                opacity: 0;

                img {
                    pointer-events: auto;
                    opacity: 0.4;
                    transition: all ease 1s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .col-2 {
            @include flex(flex-end, flex-start);
            flex-direction: column;

            .box-1 {
                transform: translateY(-80px);
                opacity: 0;
            }
            
            .box-2 {
                display: grid;
                column-gap: $space;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                max-width: 511px;
                margin-top: $space;
                transform: translateX(80px);
                opacity: 0;

                a {
                    @include flex(center, center);
                    @include font(500);
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    width: 100%;
                    padding: 28px 10px;

                    span {
                        position: relative;
                        z-index: 1;
                    }

                    &.btn-primary {
                        border: 2px solid $pink;
                        color: $white;
                        transition: all ease .3s;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $pink;
                            z-index: 0;
                            transition: all ease .3s;
                            transform-origin: right;
                        }
                    }

                    &.btn-secondary {
                        border: 2px solid $pink;
                        color: $pink;
                        transition: all ease .3s;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $pink;
                            z-index: 0;
                            transition: all ease .3s;
                            transform-origin: left;
                            transform: scaleX(0);
                        }
                    }
                }

                &.animation {
                    .btn-primary {
                        color: $pink;

                        &::before {
                            transform: scaleX(0);
                        }

                        & + .btn-secondary {
                            color: $white;

                            &::before {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1366px) {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        margin-top: 50px !important;

        p {
            font-size: 14px;
        }

        .subtitle {
            margin-bottom: 50px;
        }

        .right {
            margin-left: 30px;

            .col-1 {
                margin-right: -117px;
                margin-top: 153px;

                .box-1 {
                    width: 186px;
                    height: 186px;

                    .day {
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                    
                    .hour {
                        font-size: 24px;
                        letter-spacing: 1px;
                    }
                }

                .box-2 {
                    width: 186px;
                    height: 186px;

                    img {
                        width: 100%;
                    }
                }
            }
            
            .col-2 {
                .box-1 {
                    img {
                        width: 545px;
                    }
                }

                .box-2 {
                    max-width: 410px;

                    a {
                        font-size: 13px;
                        padding: 24px 10px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        border-top: 1px solid #e6e6e6;
        opacity: 1;
        margin-top: 0px !important;
        padding-left: 12px;
        padding-right: 12px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .left {
            transform: translateX(0);
            width: 100%;
            max-width: var(--limit);
            margin: 0 auto;
            
            p {
                margin: 0 auto 25px;
    
                br {
                    display: none;
                }
            }
        }

        .right {
            width: 100%;
            max-width: var(--limit);
            margin: 25px auto 0;
            display: block;

            .col-1 {
                margin-right: 0;
                margin-top: 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: $space;
                width: 100%;

                .box-1 {
                    opacity: 1;
                    transform: translateX(0);
                    width: 100%;
                    height: 100%;

                    .day {
                        font-size: 12px;

                        &::after {
                            margin: 15px 0 20px;
                        }
                    }

                    .hour {
                        font-size: 20px;
                    }
                }
                
                .box-2 {
                    transform: translateY(0px);
                    opacity: 1;
                    margin-top: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .col-2 {
                .box-1 {
                    display: none;
                }

                .box-2 {
                    max-width: var(--limit);
                    opacity: 1;
                    transform: translateX(0);
                    grid-template-columns: 1fr;
                    gap: $space;
                }
            }
        }

    }
}

#testimonials {
    background-color: #f6f3f2;
    margin-top: 120px;
    padding: 80px 0 0;
    position: relative;
    opacity: 0;

    .bg-element {
        &-1 {
            width: 450px;
            transform: translate(-70px, -150px);
            transform-origin: left top;
            position: absolute;
            left: 0;
        }
        
        &-2 {
            width: 530px;
            transform: translate(18px, 20px);
            transform-origin: right bottom;
            position: absolute;
            right: 0;
            overflow: hidden;

            img {
                margin-right: -10px;
            }
        }
    }

    .title {
        text-align: center;
        margin-bottom: 50px;
    }

    .wrapper {
        max-width: var(--limit);
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    .reply {
        text-align: center;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .5px;
        @include font(500);
        color: $pink;
        margin: 30px auto;
        cursor: pointer;
        border: 0px;
        background-color: transparent;

        &:hover + .heart-animation {
            opacity: 1;
        }
    }

    .navigation {
        user-select: none;
        position: absolute;
        bottom: 0;

        .photo {
            margin-bottom: 18px;
            box-shadow: 0px 0px 62px 0px rgba(211, 180, 173, 0.19);
            background-color: #fff6f3;

            img {
                opacity: 0.4;
                pointer-events: auto;
                transition: all ease 1s;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .arrows {
            background-color: $white;
            @include flex(center, center);
            padding: 25px 12px;

            .arrow {
                cursor: pointer;
                transition: all ease .3s;
                padding: 10px 20px;
                
                &-left {
                    &:hover {
                        transform: translateX(-5px);
                    }
                }

                &-right {
                    transform: scaleX(-1);

                    &:hover {
                        transform: scaleX(-1) translateX(-5px);
                    }
                }
            }
        }
    }

    .swiper-container {
        width: 765px;

        .swiper-scrollbar {
            background: rgba(211,180,173,.4);
            border-radius: 0;
            height: 2px;

            &-drag {
                background: $pink;
            }
        }

        .swiper-slide {
            opacity: 0 !important;
            transition: all ease .3s;

            .msg {
                font-size: 16px;
                line-height: 1.8em;
                width: 100%;
                max-width: 665px;
                margin: 0 auto 50px;
                position: relative;

                &::before {
                    content: '“';
                    @include font2(400);
                    font-size: 125px;
                    color: #c1c1cd;
                    display: block;
                    line-height: 135px;
                    margin-bottom: -70px;
                    margin-left: -46px;
                    pointer-events: none;
                }
            }

            .author {
                text-align: right;
                width: 100%;
                max-width: 665px;
                margin: 0 auto 10px;
                color: $pink;
                font-size: 24px;
                letter-spacing: .3px;
                @include font2(400);
                transition: all ease 1s;
                opacity: 0;
            }

            .date {
                text-align: right;
                width: 100%;
                max-width: 665px;
                margin: 0 auto 60px;
                font-size: 12px;
                letter-spacing: .7px;
                transition: all ease 1s;
                transition-delay: .3s;
                opacity: 0;
            }

            &-active {
                opacity: 1 !important;

                .author, .date {
                    opacity: 1;
                }
            }
        }
    }

    .heart-animation {
        opacity: 0;
        transition: all ease .3s;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 60px;
        width: 40px;
        z-index: 1;
        pointer-events: none;
        
        .heart {
            position: absolute;
    
            &:nth-child(1) svg {
                opacity: 0;
                animation: heartUp 1.4s infinite ease-in;
            }
    
            &:nth-child(2) svg {
                position: absolute;
                left: 1rem;
                opacity: 0;
                animation: heartUp 1.4s 0.3s infinite ease-in;
            }
    
            &:nth-child(3) svg {
                position: absolute;
                left: 0.5rem;
                opacity: 0;
                animation: heartUp 1.4s 0.6s infinite ease-in;
            }
            
            svg {
                fill: #f58d9c;
            }
        }
    
        @keyframes heartUp {
            0% {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) rotate(10deg);
                transform: translate3d(0, 0, 0) rotate(10deg);
            }
    
            50% {
                opacity: 1;
            }
    
            65% {
                opacity: 1;
            }
    
            90% {
                opacity: 0;
                -webkit-transform: translate3d(0, -35vh, 0) scale(1.2) rotate(-10deg);
                transform: translate3d(0, -35vh, 0) scale(1.2) rotate(-10deg);
            }
    
            100% {
                opacity: 0;
            }
        }
    }

    @media screen and (max-width: 1470px) {
        .bg-element {
            &-2 {
                width: 360px;
            }
        }
    }

    @media screen and (max-width: 1366px) {
        .wrapper {
            margin: 0px 30px;
        }

        .swiper-container {
            .swiper-slide {
                .msg {
                    font-size: 14px;
                }
            }
        }

        .navigation {
            .photo {
                width: 186px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .arrows {
                .arrow {
                    img {
                        width: 30px;
                    }
                }
            }
        }

        .reply {
            left: calc(50% - 30px);
        }

    }
    
    @media screen and (max-width: 1340px) {
        margin-top: 50px;

        .swiper-container {
            width: 450px;
        }
    }

    @media screen and (max-width: 1000px) {
        opacity: 1;
        overflow: hidden;

        .bg-element-1 {
            width: 50vw;
            max-width: 300px;
            transform: translate(-50px, -100px);
        }

        .bg-element-2 {
            width: 50vw;
            max-width: 300px;
            transform: translate(120px, 370px);
        }

        .swiper-container {
            width: calc(100% - 30px);

            .swiper-slide {
                .msg {
                    max-width: 250px;

                    &::before {
                        font-size: 80px;
                        margin: 0 0 -50px -40px;
                        line-height: 1em;
                    }
                }

                .author {
                    max-width: 250px;
                    text-align: center;
                    font-size: 18px;
                }
                
                .date {
                    max-width: 250px;
                    text-align: center;
                    font-size: 12px;
                    color: #c1c1cd;
                }
            }
        }

        .wrapper {
            margin: 0px auto;
            padding: 0 30px;
        }

        .reply {
            max-width: 210px;
            left: 50%;
            user-select: none;
            line-height: 1.8em;
        }

        .navigation {
            display: none;
        }
    }
}

#gifts {
    width: 100%;
    max-width: var(--limit);
    margin: 0 auto;
    @include flex(flex-start, space-between);

    .title {
        margin-top: 120px;
    }

    .subtitle {
        margin-bottom: 70px;
    }

    p {
        line-height: 1.8em;
        font-size: 16px;
        margin-bottom: 70px;
        letter-spacing: .3px;
    }

    .btn-gift {
        box-shadow: -16.09px 15.004px 62px 0px rgba(211, 180, 173, 0.19);
        background-color: #FFF;
        @include flex(flex-start, space-between);
        margin-top: 130px;
        height: 115px;
        width: 370px;
        position: relative;
        transition: all ease .3s;

        .icon {
            background-color: $pink;
            position: relative;
            height: 100%;
            width: 115px;
            @include flex(center, center);
            transition: all ease .3s;

            &::after {
                content: '';
                mask: url(../img/store.svg);
                width: 60px;
                height: 60px;
                display: block;
                background-color: $white;
                transition: all ease .3s;
            }
        }

        .text {
            text-transform: uppercase;
            width: 255px;
            height: 100%;
            @include flex(center, center);
            flex-direction: column;
            
            .title {
                font-size: 26px;
                @include font(500);
                color: $pink;
                margin: 0;
                transition: all ease .3s;
            }
            
            .subtitle {
                font-size: 10px;
                @include font(500);
                font-style: normal;
                color: $pink;
                margin: 5px 0 0 6px;
                transition: all ease .3s;
            }
        }

        &:hover {
            background-color: $pink;

            .text {
                .title, .subtitle {
                    color: #FFF;
                }
            }
        }
    }

    .left {
        width: 585px;
        background-image: url(../img/bg-gifts.png);
        background-repeat: no-repeat;
        background-position: top left;
        @include flex(flex-start, flex-end);
        flex-direction: column;
        padding-left: 115px;
        margin-top: 100px;
        margin-left: 10px;
        position: relative;
        transform: translateX(-100px);
        opacity: 0;

        .confetti {
            position: absolute;
            top: 65px;
            left: 190px;
            opacity: 0;
            transform: scale(0.5);
            pointer-events: none;
        }

        p {
            font-size: 16px;
            color: $pink;
            margin-bottom: 0;
        }

        .others {
            @include flex(center, space-between);
            width: 100%;
            max-width: 370px;
            margin-top: 27px;
            position: relative;

            .other {
                box-shadow: -16.09px 15.004px 62px 0px rgba(211, 180, 173, 0.19), inset 0px 0px 0px 0px #d3b4ad;
                background-color: #FFF;
                height: 55px;
                width: 160px;
                margin-left: 25px;
                @include flex(center, center);
                transition: all ease .3s;
                position: relative;

                &:before {
                    content: '';
                    background-image: url(../img/gift-bow.svg);
                    background-size: 20px;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -6px;
                    left: 50%;
                    transform: translateX(-50%) scale(0);
                    opacity: 0;
                    transition: all ease .3s;
                    pointer-events: none;
                }

                &:hover {
                    box-shadow: -16.09px 15.004px 62px 0px rgba(211, 180, 173, 0.19), inset 0px 0px 0px 2px #d3b4ad;

                    &:before {
                        opacity: 1;
                        transform: translateX(-50%) scale(1);
                    }
                }
            }
        }
    }

    .right {
        text-align: right;
        transform: translateX(40px);
        opacity: 0;
    }
}

.modal {
    width: 100%;
    height: 100%;
    background: #0000006b;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    @include flex(center, center);
    opacity: 0;
    pointer-events: none;
    transition: all ease .3s;

    &.active {
        opacity: 1;
        pointer-events: auto;

        .modal-container {
            transform: scale(1);
        }
    }

    &-container {
        background: #FFF;
        border-radius: 4px;
        width: 100%;
        max-width: 450px;
        transform: scale(0.5);
        transition: all ease .3s;

        p {
            line-height: 1.5em;
        }
    }

    &-title {
        padding: 40px;
        background-color: $pink;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: $white;
        @include font(500);
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: 20px;
        @include flex(flex-start, space-between);
    }

    &-close {
        font-size: 32px;
        line-height: 20px;
        transition: all ease .3s;
        cursor: pointer;

        &:hover {
            transform: rotate(90deg);
        }
    }

    &-content {
        padding: 40px;

        form {
            @include flex(center, flex-start);
            flex-direction: column;

            input, select, textarea {
                width: 100%;
                margin-bottom: 18px;
            }

            #captcha {
                width: 100px;
                margin-bottom: 10px;
            }

            button {
                background-color: $pink;
                color: $white;
                border: 0px;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: .5px;
                @include font(500);
                font-size: 16px;
                padding: 20px;
                width: 100%;
                border: 2px solid $pink;
                transition: all ease .3s;

                &:hover {
                    background-color: transparent;
                    color: $pink;
                }
            }
        }
    }
}

form {
    .input-group {
        display: flex;
        flex-direction: column;
    }

    input, select {
        height: 48px;
    }
    
    textarea {
        resize: none;
    }
    
    input, select, textarea {
        border: 1px solid #d7d7d7;
        @include font(400);
        font-size: 14px;
        padding: 10px 20px;
        transition: all ease .3s;
        background-position: calc(100% - 20px) center;
        background-repeat: no-repeat;
        background-size: 20px;

        &:hover {
            border-color: #999;
        }
    
        &:focus {
            border-color: $blue;
        }

        &.error {
            border-color: red;
            margin-bottom: 10px;
        }

        &.valid:not([name="captcha"]):not(textarea):not(select) {
            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.867 477.867'%3E%3Cpath d='M238.933 0C106.974 0 0 106.974 0 238.933s106.974 238.933 238.933 238.933 238.933-106.974 238.933-238.933C477.726 107.033 370.834.141 238.933 0zm0 443.733c-113.108 0-204.8-91.692-204.8-204.8s91.692-204.8 204.8-204.8 204.8 91.692 204.8 204.8c-.122 113.058-91.742 204.678-204.8 204.8z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%233AD5AB'/%3E%3Cpath d='M370.046 141.534c-6.614-6.388-17.099-6.388-23.712 0l-158.601 158.6-56.201-56.201c-6.548-6.78-17.353-6.967-24.132-.419-6.78 6.548-6.967 17.353-.419 24.132.137.142.277.282.419.419l68.267 68.267c6.664 6.663 17.468 6.663 24.132 0l170.667-170.667c6.548-6.779 6.36-17.583-.42-24.131z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%233AD5AB'/%3E%3C/svg%3E") !important;
            padding-right: 50px;
        }
        
        & + label.error {
            color: red;
            font-size: 12px !important;
            display: block;
            margin-bottom: 20px;
            text-align: right;
            width: 100%;
            line-height: 1.5em;
        }
    }

    .select2-container--default .select2-selection--single {
        background-color: transparent;
        border-radius: 0;
        border: 1px solid #d7d7d7;
        transition: all ease .3s;
        height: 48px;
        @include flex(center, space-between);
        @include font(400);
        font-size: 14px;

        &:hover,
        &[aria-expanded="true"] {
            border-color: #999;
        }
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 20px;
        position: relative;
        top: 0px;
        right: 10px;
        width: 20px;
        transition: all ease .3s;
    }

    .select2-container .select2-selection b[role="presentation"] {
        border: 0 solid transparent;
        transition: all ease .3s;
        transform-origin: center;
        position: relative;
        width: 20px;
        height: 20px;
        display: block;
        margin: 0;
        left: auto;
        top: auto;

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDY0IDY0IiB4PSIwcHgiIHk9IjBweCI+PHRpdGxlPmRvd24tYXJyb3c8L3RpdGxlPjxwYXRoIGQ9Ik01LjI0MyAxNC45MzhjLTAuOTQxIDAtMS44OTYgMC4zNjYtMi42MSAxLjA4MC0xLjQyOSAxLjQyOS0xLjQyOSAzLjc5MiAwIDUuMjIxbDI2Ljc0MSAyNi43NDFjMC42OSAwLjY5IDEuNjY0IDEuMDgwIDIuNjEgMS4wODAgMC45MzcgMCAxLjg3MS0wLjM0MSAyLjYxLTEuMDgwbDI2LjcwNC0yNi43MDZjMS40OTYtMS40MDggMS41MTUtMy44MjcgMC4wODYtNS4yNTZzLTMuNzkyLTEuNDI5LTUuMjIxIDBjLTAgMC0wLjAwMSAwLjAwMS0wLjAwMSAwLjAwMXYwbC0yNC4xMzEgMjQuMTc4LTI0LjE3OS0yNC4xNzljLTAuNzE1LTAuNzE1LTEuNjctMS4wODAtMi42MS0xLjA4MHoiPjwvcGF0aD48L3N2Zz4=");
            background-size: 10px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border: 0;
        transform: rotate(180deg);
    }

    .error-list {
        margin-top: 20px;
        font-size: 14px;
        color: red;
        text-align: center;
    }
}

.select2-results__option:not([id]) {
    display: none;
}

#rsvp {
    margin: 0 auto;
    width: var(--limit);

    .photos {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $space;
        perspective: 500px;
        transform-style: preserve-3d;
        transform: scale(0.955);

        .photo {
            background-color: $pink;
            opacity: 0;
            transform: rotateX(8deg) translateY(170px);
            backface-visibility: hidden;

            img {
                width: 100%;
                transition: all ease 1s;

                &:hover {
                    opacity: 1;
                }
            }

            &-2 {
                img {
                    opacity: .6;
                }
            }
            
            &-3 {
                img {
                    opacity: .3;
                }
            }

            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    }

    .box {
        opacity: 0;
        max-width: var(--limit);
        width: 100%;
        padding: 120px 100px;
        margin: 100px auto 82px;
        position: relative;
        background-color: #FFF;
        box-shadow: -16.09px 15.004px 62px 0px rgba(211, 180, 173, 0.1);
        @include flex(center, space-between);
        
        .subtitle {
            margin-bottom: 70px;
        }
    
        p {
            line-height: 1.8em;
            font-size: 16px;
            letter-spacing: .3px;
        }

        .separator {
            width: 1px;
            background-color: #e6e6e6;
            height: 300px;
            margin: 0 100px;
        }

        .left,
        .right {
            width: 50%;    
        }

        form {
            label {
                font-size: 14px;
                margin-bottom: 10px;
            }

            input, select {
                background-color: transparent;
            }

            .input-group {
                margin-bottom: 25px;

                &.etapa-2 {
                    display: none;

                    &.visible {
                        display: flex;
                    }
                }
            }

            #codigo_convidado {
                letter-spacing: 5px;
                text-transform: uppercase;
                font-weight: 500;
                color: #565656;
            }
        
            .acompanhantes {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                &:not(:empty) {
                    margin-top: 25px;
                    padding-bottom: 25px;
                    border-bottom: 1px solid #e6e6e6;
                }

                input {
                    width: 100%;
                }
            }

            button {
                outline: none;
                background-color: $pink;
                color: $white;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: .5px;
                @include font(500);
                border: 0px;
                padding: 22px 30px;
                cursor: pointer;
                @include flex(center, center);
                border: 2px solid $pink;
                transition: all ease .3s;

                .arrow-right {
                    transform: scaleX(-1);
                    -webkit-mask: url(../img/arrow.svg) no-repeat;
                    background-color: #FFF;
                    width: 43px;
                    height: 15px;
                    display: inline-block;
                    margin-left: 20px;
                    opacity: 0.4;
                    transition: all ease .3s;
                }

                &:hover {
                    &.enviar {
                        background-color: transparent;
                        color: $pink;
                    }

                    .arrow-right {
                        opacity: 1;
                        transform: scaleX(-1) translateX(-5px);
                    }
                }
            }
        }

        @media screen and (max-width: 1470px) {
            padding: 80px;
        }
    }

}